@use "./../helpers" as *;


body {
  @include fluid-text(28, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.34;
  color: var(--color-light);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 400;
  font-family: var(--font-family-accent);
}

h1,
.h1 {
  @include fluid-text(70, 32);

}

:not(input):focus-visible {
  outline: rem(2) dashed red;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}